   {{#each this}}
    <header class="header-lbr" id="library">
        <section  class="container">
            <nav class="header-lbr__nav">
                <div class="logo-section">
                <span class="logo"><a href="">
                    
                    <img src="./images/film.svg" alt="logo">
                </a></span>
                <span class="logo-name">Filmoteka</span>
            </div>

                <ul class="header-lbr__nav-links">
                    <li class="nav-link">Home</li>
                    <li class="nav-link active">my library</li>
                </ul>
            </nav>   
                <div class="header-lbr__btn">
                                <button class="button is-active">Watched</button>
                                <button class="button">queue</button>
            </div>
        </section>
    </header>
    <div class="container"></div>
    {{/each}}