<div  class="library-page hidden">
    <div class="header-lbr" id="library">
        <div class="container-lbr">
            <nav class="header-lbr__nav">
             <div >
                <a href="" class="logo-section">

                   <img src="./images/logo.svg" class="logo-lbr" alt="logo" />
                    <span class="logo-name">Filmoteka</span> </a>
                </div>

                <ul class="header-lbr__nav-links">
                    <li class="nav-link"><a href="./index.html">Home</a></li>
                    <li class="nav-link active"><a href="#">My library</a></li>
                </ul>
            </nav>
            <div class="header-lbr__btn">
                <button class="button-lbr watched is-active">watched</button>
                <button class="button-lbr queue">queue</button>
            </div>
        </div>
    </div>
</div>