<div class="overlay is-hidden">
    <div id="my_modal" class="modal-footer">
        <div class="modal_content">
            <button class="close_modal_window">×</button>
            <h3 class="title-modalfooter">WAS WORKING ON A PROJECT</h3>
            <p class="title-modalteam">Team GoITishki</p>
            <div class="review-section">
                <article class="review-section_card">
                    
                    <img src="./images/team/evgeniy.jpg" alt="Evgeniy Grishko" class="review-section_image"
                        width="200" />
                <h3 class="review-section_name-from">Evgeniy Grishko</h3>
                <p class="review-section_work">Team Lead</p>
                <div class="team-social">
                
                    <a href="#" class="team-social_link Github">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-github"></use>
                        </svg>
                    </a>
                    <a href="#" class="team-social_link Telegram">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-telegram"></use>
                        </svg>
                    </a>
                    <a href="#" class="team-social_link Linkedin">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                    
                </article>
                <article class="review-section_card">
                   
                    <img src="./images/team/lena.jpg" alt="Elena Andrieieva" class="review-section_image"
                        width="200" />
                    <h3 class="review-section_name-from">Elena Andrieieva</h3>
                    <p class="review-section_work">Scrum Master</p>
                    <div class="team-social">
                    
                        <a href="#" class="team-social_link Github">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a href="#" class="team-social_link Telegram">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-telegram"></use>
                            </svg>
                        </a>
                        <a href="#" class="team-social_link Linkedin">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    
                </article>
                <article class="review-section_card">
                    
                    <img src="./images/team/sergey.jpg" alt="Sergey Dyatlov" class="review-section_image" width="200" />
                <h3 class="review-section_name-from">Sergey Dyatlov</h3>
                <p class="review-section_work">Frontend Developer</p>
                <div class="team-social">
                
                    <a href="https://github.com/DyatlovSergey" class="team-social_link Github">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-github"></use>
                        </svg>
                    </a>
                    <a href="https://t.me/SergeyDyatlov" class="team-social_link Telegram">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-telegram"></use>
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/in/s-dyatlov/" class="team-social_link Linkedin">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                </article>
                <article class="review-section_card">
                    
                    <img src="./images/team/elena.jpg" alt="Mikhailova Olena" class="review-section_image"
                        width="200" />
                        <h3 class="review-section_name-from">Mikhailova Olena</h3>
                        <p class="review-section_work">Frontend Developer</p>
                        <div class="team-social">
                        
                            <a href="#" class="team-social_link Github">
                                <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                    <use href="./images/arrow.svg#icon-github"></use>
                                </svg>
                            </a>
                            <a href="#" class="team-social_link Telegram">
                                <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                    <use href="./images/arrow.svg#icon-telegram"></use>
                                </svg>
                            </a>
                            <a href="#" class="team-social_link Linkedin">
                                <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                    <use href="./images/arrow.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </div>
                </article>
                <article class="review-section_card">
                    
                    <img src="./images/team/aleksey-170.png" alt="Aleksey Misechko" class="review-section_image"
                        width="85" />
                <h3 class="review-section_name-from">Aleksey Misechko</h3>
                <p class="review-section_work">Frontend Developer</p>
                <div class="team-social">
                
                    <a href="#" class="team-social_link Github">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-github"></use>
                        </svg>
                    </a>
                    <a href="#" class="team-social_link Telegram">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-telegram"></use>
                        </svg>
                    </a>
                    <a href="#" class="team-social_link Linkedin">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                
                </article>
                <article class="review-section_card">
                    
                    <img src="./images/team/aleksandr-vasilko-170.png" alt="Vasilko Aleksander"
                        class="review-section_image" width="85" />
                <h3 class="review-section_name-from">Vasilko Aleksander</h3>
                <p class="review-section_work">Frontend Developer</p>
            <div class="team-social">
            
                <a href="#" class="team-social_link Github">
                    <svg class="team-social_icon" style="width: 40px;height: 40px;">
                        <use href="./images/arrow.svg#icon-github"></use>
                    </svg>
                </a>
                <a href="#" class="team-social_link Telegram">
                    <svg class="team-social_icon" style="width: 40px;height: 40px;">
                        <use href="./images/arrow.svg#icon-telegram"></use>
                    </svg>
                </a>
                <a href="#" class="team-social_link Linkedin">
                    <svg class="team-social_icon" style="width: 40px;height: 40px;">
                        <use href="./images/arrow.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </div>
                    
                </article>
                <article class="review-section_card">
                   
                    <img src="./images/team/aleksandr-nosov.png" alt="Aleksander Nosov" class="review-section_image"
                        width="85" />
                    <h3 class="review-section_name-from">Aleksander Nosov</h3>
                    <p class="review-section_work">Frontend Developer</p>
                    <div class="team-social">

                        <a href="#" class="team-social_link Github">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a href="#" class="team-social_link Telegram">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-telegram"></use>
                            </svg>
                        </a>
                        <a href="#" class="team-social_link Linkedin">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>