<div class="backdrop is-hidden" data-modal>
    <article class="modal">
        <img src="./images/photo.jpg" alt="Фотография" />
        <div class="modal__info">
            <h2 class="modal__title">A FISTFUL OF LEAD</h2>
            <ul class="modal__list-info">
                <li class="modal__item-info">
                    <p class="modal__part-info">Vote / Votes</p>
                    <span class="modal__info"></span>
                </li>
                <li class="modal__item-info">
                    <p class="modal__part-info">Popularity</p>
                    <span class="modal__info"></span>
                </li>
                <li class="modal__item-info">
                    <p class="modal__part-info">Original Title</p>
                    <span class="modal__info"></span>
                </li>
                <li class="modal__item-info">
                    <p class="modal__part-info">Genre</p>
                    <span class="modal__info"></span>
                </li>
            </ul>
            <h3 class="modal__title-description">About</h3>
            <p class="modal__description">Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve been double crossed – but by who and how?</p>
            <div class="modal__btns">
                <button class="modal__btn btn__color">add to Watched</button>
                <button class="modal__btn btn__light">add to queue</button>
                <button data-modal-close class="button-close">
                    <svg class="button-close__icon">
                        <use href=""></use>
                    </svg>
                </button>
            </div>
        </div>
    </article>
</div>