<div class="overlay is-hidden">
    <div id="my_modal" class="modal-footer">
        <div class="modal_content">
            <button class="close_modal_window">×</button>
            <h3 class="title-modalfooter">WAS WORKING ON A PROJECT</h3>
            <p class="title-modalteam">Team GoITishki</p>
            <div class="review-section">
                <article class="review-section_card">
                    
                    <img src="./images/team/evgeniy.jpg" alt="Evgeniy Grishko" class="review-section_image"
                        width="200" />
                <h3 class="review-section_name-from">Evgeniy Grishko</h3>
                <p class="review-section_work">Team Lead</p>
                <div class="team-social">
                
                   
                    <a target="_blank" href="https://t.me/EvgeniyG1989" class="team-social_link Telegram">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-telegram"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://github.com/Balor1989?tab=repositories" class="team-social_link Github">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-github"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/evgeniy-grishko-364504127/" class="team-social_link Linkedin">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                    
                </article>
                <article class="review-section_card">
                   
                    <img src="./images/team/lena.jpg" alt="Elena Andrieieva" class="review-section_image"
                        width="200" />
                    <h3 class="review-section_name-from">Elena Andrieieva</h3>
                    <p class="review-section_work">Scrum Master</p>
                    <div class="team-social">
                    
                       
                        <a target="_blank" href="https://t.me/andrieieva_lena" class="team-social_link Telegram">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-telegram"></use>
                            </svg>
                        </a>
                        <a target="_blank" href="https://github.com/AndrieievaLena" class="team-social_link Github">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/andreieivalenaodessa/" class="team-social_link Linkedin">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                    
                </article>
                <article class="review-section_card">
                    
                    <img src="./images/team/sergey.jpg" alt="Sergey Dyatlov" class="review-section_image" width="200" />
                <h3 class="review-section_name-from">Sergey Dyatlov</h3>
                <p class="review-section_work">Frontend Developer</p>
                <div class="team-social">
                
                   
                    <a target="_blank" href="https://t.me/SergeyDyatlov" class="team-social_link Telegram">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-telegram"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://github.com/DyatlovSergey" class="team-social_link Github">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-github"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/s-dyatlov/" class="team-social_link Linkedin">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                </article>
                <article class="review-section_card">
                    
                    <img src="./images/team/elena.jpg" alt="Mikhailova Olena" class="review-section_image"
                        width="200" />
                        <h3 class="review-section_name-from">Mikhailova Olena</h3>
                        <p class="review-section_work">Frontend Developer</p>
                        <div class="team-social">
                        
                           
                            <a target="_blank" href="https://t.me/mihailova_e_v" class="team-social_link Telegram">
                                <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                    <use href="./images/arrow.svg#icon-telegram"></use>
                                </svg>
                            </a>
                            <a target="_blank" href="https://github.com/mikhailova11" class="team-social_link Github">
                                <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                    <use href="./images/arrow.svg#icon-github"></use>
                                </svg>
                            </a>
                            <a target="_blank" href="https://www.linkedin.com/in/елена-михайлова-05171b229" class="team-social_link Linkedin">
                                <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                    <use href="./images/arrow.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </div>
                </article>
                <article class="review-section_card">
                    
                    <img src="../images/team/Aleksey.jpg" alt="Aleksey Misechko" class="review-section_image"
                        width="200" />
                <h3 class="review-section_name-from">Aleksey Misechko</h3>
                <p class="review-section_work">Frontend Developer</p>
                <div class="team-social">
                
                  
                    <a target="_blank" href="https://t.me/AlekseiMisechko" class="team-social_link Telegram">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-telegram"></use>
                        </svg>
                    </a>
                    <a  target="_blank" href="https://github.com/Aleksei211" class="team-social_link Github">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-github"></use>
                        </svg>
                    </a>
                    <a target="_blank" href="#" class="team-social_link Linkedin">
                        <svg class="team-social_icon" style="width: 40px;height: 40px;">
                            <use href="./images/arrow.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </div>
                
                </article>
                <article class="review-section_card">
                    
                    <img src="./images/team/aleksandr.jpg" alt="Vasilko Aleksander" class="review-section_image" width="200" />
                <h3 class="review-section_name-from">Vasilko Aleksander</h3>
                <p class="review-section_work">Frontend Developer</p>
            <div class="team-social">
            
                
                <a  target="_blank" href="https://t.me/Aleksandr_Vasilko" class="team-social_link Telegram">
                    <svg class="team-social_icon" style="width: 40px;height: 40px;">
                        <use href="./images/arrow.svg#icon-telegram"></use>
                    </svg>
                </a>
                <a target="_blank" href="https://github.com/AleksandrVasilko" class="team-social_link Github">
                    <svg class="team-social_icon" style="width: 40px;height: 40px;">
                        <use href="./images/arrow.svg#icon-github"></use>
                    </svg>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/aleksandr-vasilko-b400a61b3/" class="team-social_link Linkedin">
                    <svg class="team-social_icon" style="width: 40px;height: 40px;">
                        <use href="./images/arrow.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </div>
                    
                </article>

                <article class="review-section_card">
                   
                    <img src="./images/team/aleksandr-nosov.png" alt="Aleksander Nosov" class="review-section_image"
                        width="85" />
                    <h3 class="review-section_name-from">Aleksander Nosov</h3>
                    <p class="review-section_work">Frontend Developer</p>
                    <div class="team-social">

                        
                        <a target="_blank" href="https://t.me/Nosov_AV" class="team-social_link Telegram">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-telegram"></use>
                            </svg>
                        </a>
                        <a target="_blank" href="https://github.com/NOSOV-ksa" class="team-social_link Github">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-github"></use>
                            </svg>
                        </a>
                        <a  target="_blank" href="https://www.linkedin.com/in/oleksandr-nosov/" class="team-social_link Linkedin">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                </article>
                <article class="review-section_card">
                
                    <img src="./images/team/pavel.jpg" alt="Pavel Debchuk" class="review-section_image" width="200" />
                    <h3 class="review-section_name-from">Pavel Debchuk</h3>
                    <p class="review-section_work">Frontend Developer</p>
                    <div class="team-social">
                
                    
                        <a  target="_blank" href="https://t.me/PavelDebchuk" class="team-social_link Telegram">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-telegram"></use>
                            </svg>
                        </a>
                            <a  target="_blank" href="https://github.com/PavelDebchuk" class="team-social_link Github">
                                <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                    <use href="./images/arrow.svg#icon-github"></use>
                                </svg>
                            </a>
                        <a target="_blank" href="https://www.linkedin.com/mwlite/in/pavel-debchuk-74097b1b7" class="team-social_link Linkedin">
                            <svg class="team-social_icon" style="width: 40px;height: 40px;">
                                <use href="./images/arrow.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </div>
                
                </article>
            </div>
        </div>
    </div>