<div id="my_modal" class="modal-footer">
    <div class="modal_content">
        <span class="close_modal_window">×</span>
        <p class="title-modalfooter">Team GoITishki</p>
        <div class="review-section">
            <article class="review-section_card">
                <h3 class="review-section_name-from"><span class="review-section_name-color">Evgeniy Grishko</span>| Novaja Kakhovka</h3>
                <img src="./images/team/evgeniy-170.png" alt="Evgeniy Grishko" class="review-section_image"
                    width="85" />
                <div class="review-section_description">
                    <p class="review-section_description-part">
                        It was hard week, but we finish that. This site is proof of our labors. Thanks team for
                        work it's done!
                    </p>
                </div>
                
            </article>
            <article class="review-section_card">
                <h3 class="review-section_name-from"><span class="review-section_name-color">Elena Andrieieva</span>| Odessa</h3>
                <img src="./images/team/lena-andreeva-170.png" alt="Elena Andrieieva" class="review-section_image"
                    width="85" />
                <div class="review-section_description">
                    <p class="review-section_description-part">
                        I can say that really we meet many problams but we was sure that this projects will the best
                        because
                        only really good team can do good projects. and we aren't good we are the best!
                    </p>
                </div>
                
            </article>
            <article class="review-section_card">
                <h3 class="review-section_name-from"><span class="review-section_name-color">Sergey Dyatlov</span>| Odessa</h3>
                <img src="./images/team/sergey-170.png" alt="Sergey Dyatlov" class="review-section_image" width="85" />
                <div class="review-section_description">
                    <p class="review-section_description-part">
                        The team work is not only a challenging task for me, but also a very precious experience.
                        Now I know it’s features, positive aspects and disadvantages
                    </p>
                </div>
              
            </article>
            <article class="review-section_card">
                <h3 class="review-section_name-from"><span class="review-section_name-color">Mikhailova Olena</span>| Odessa</h3>
                <img src="./images/team/elena-vas-170.png" alt="Mikhailova Olena" class="review-section_image"
                    width="85" />
                <div class="review-section_description">
                    <p class="review-section_description-part">
                        I'm very glad to have chance work in team "GoItshki" ,
                        learning and go only up in IT.
                    </p>
                </div>
        
            </article>
            <article class="review-section_card">
                <h3 class="review-section_name-from"><span class="review-section_name-color">Aleksey Misechko</span>| Novaya Kakhovka</h3>
                <img src="./images/team/aleksey-170.png" alt="Aleksey Misechko" class="review-section_image"
                    width="85" />
                <div class="review-section_description">
                    <p class="review-section_description-part">
                        I never forget how we work in team and it's was amazing experience. Thanks for that my
                        favorite team "GoItshki"
                    </p>
                </div>
               
            </article>
            <article class="review-section_card">
                <h3 class="review-section_name-from"><span class="review-section_name-color">Vasilko Aleksander</span>| Odessa</h3>
                <img src="./images/team/aleksandr-vasilko-170.png" alt="Vasilko Aleksander"
                    class="review-section_image" width="85" />
                <div class="review-section_description">
                    <p class="review-section_description-part">
                        The path way from the first lines of code to the team project showed how many interesting
                        and not always easy tasks wait us in future. I thanks team for well done job.
                    </p>
                </div>
                
            </article>
            <article class="review-section_card">
                <h3 class="review-section_name-from"><span class="review-section_name-color">Aleksander Nosov</span>| Nikolaev</h3>
                <img src="./images/team/aleksandr-nosov.png" alt="Aleksander Nosov" class="review-section_image"
                    width="85" />
                <div class="review-section_description">
                    <p class="review-section_description-part">
                        With every day and new task on the project in the GoItshki team, I am more and more
                        convinced of the correctness of my choice. Choosing a life path
                    </p>
                </div>
                
            </article>
        </div>
    </div>