.main-home {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @media screen and(min-width:768px) {
    width: 768px;
  }

  @media screen and(min-width:1024px) {
    width: 1024px;
  }
}

.photo-card {
  width: 280px;
  margin: 15px;

  @media screen and(min-width:768px) {
    width: 294px;
  }

  @media screen and(min-width:1024px) {
    width: 274px;
  }
}

.photo-card img {
  height: 400px;
  width: 280px;
  border-radius: 5px;
  margin-bottom: 10px;

  @media screen and(min-width:768px) {
    width: 294px;
  }

  @media screen and(min-width:1024px) {
    width: 274px;
  }
}

.filmlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.film-discription {
  font-family: Roboto;
  color: #000;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}

.film-details {
  color: #ff6b01;
  margin-top: 5px;
}

.film-reiting {
  color: #fff;
  background: #ff6b01;
  padding: 1px 6px;
  border-radius: 5px;
  margin-left: 10px;
}
