.pagination-box {
  @media screen and (min-width: 768px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  padding-bottom: 60px;
}
