.pagination-box {
  @media screen and (min-width: 768px) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  padding-bottom: 60px;
}
.tui-ico-ellipsis,
.tui-ico-first,
.tui-ico-last,
.tui-ico-next,
.tui-ico-prev {
  overflow: hidden;
}

.tui-pagination {
  height: 40px;
  margin: 0;
  line-height: normal;
  text-align: center;
  font-size: 0;
}

.tui-pagination .tui-page-btn {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 10px 0 6px;
  margin-left: 0;
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  vertical-align: middle;
  border-width: 1px 0;
  border-radius: 5px;
}

.tui-pagination .tui-page-btn:hover {
  background-color: #ff6b08;
}

.tui-pagination .tui-is-selected,
.tui-pagination strong {
  color: rgb(252, 247, 247);
  background: #ff6b08;
  cursor: default;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.tui-pagination .tui-is-selected:hover {
  background-color: #ff6b08;
  color: white;
}

.tui-pagination .tui-first-child.tui-is-selected,
.tui-pagination strong.tui-first-child {
  margin-left: 0;
}

/* .tui-pagination .tui-first-child, .tui-pagination .tui-prev-is-ellip {
    border-left: 1px solid #ddd
}

.tui-pagination .tui-last-child, .tui-pagination .tui-next-is-ellip {
    border-right: 1px solid #ddd
}

.tui-pagination .tui-first-child.tui-is-selected {
    border-left: 1px solid #FF6B08
}

.tui-pagination .tui-last-child.tui-is-selected {
    border-right: 1px solid #FF6B08
} */

.tui-pagination .tui-first,
.tui-pagination .tui-prev,
.tui-pagination .tui-next,
.tui-pagination .tui-last,
.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  overflow: hidden;
  height: 40px;
  padding: 0;
  padding: 5px;
  line-height: 26px;
  white-space: nowrap;
  font-weight: normal;
  border: 5px;
  background-color: #f7f7f7;
  margin-right: 16px;
  margin-left: 10px;
  border-radius: 5px;
  color: rgb(8, 8, 8);
}

.tui-pagination .tui-prev-is-ellip {
  border-right: 0;
}

.tui-pagination .tui-next-is-ellip {
  border-left: 0;
}

.tui-pagination .tui-first + .tui-prev,
.tui-pagination .tui-next + .tui-last {
  border-left: 0;
}

.tui-pagination .tui-ico-first,
.tui-pagination .tui-ico-prev,
.tui-pagination .tui-ico-next,
.tui-pagination .tui-ico-last,
.tui-pagination .tui-ico-ellip {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.tui-pagination .tui-prev-is-ellip,
.tui-pagination .tui-next-is-ellip {
  padding: 0;
  line-height: 1;
}

.tui-pagination .tui-prev {
  margin-right: 10px;
  /* width: 12px;
    height: 10px; */
}

/* .tui-pagination .tui-next {
    margin-left: 10px;
} */

.tui-pagination .tui-ico-first {
  width: 12px;
  height: 10px;
  background-position: 0px 0px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABZSURBVHgBzZLBCcAgDEV/O0FH+Kt2go7QFdzAERxBR3AEI+TkQdCI+OChlxcIBDgdqtNxFD9MQI2D+GAQbo2vJvb6OjF3uldM9XNjMYRh/3OH/DBAGE55DwUS8hLkQpMiOgAAAABJRU5ErkJggg==');
  background-size: cover;
}

.tui-pagination .tui-ico-prev {
  width: 12px;
  height: 10px;

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAF0SURBVDhPpVM9L0NRGH7OaSvCpERiEQNhkdj4EaIbA2KR9A9IGotIJOIvqKnau3QSv0LMEomwdDBgMBCJ+/F6zntPpeWGlqc5fb/f9zkfF1kQgXHLm/1Bmsh5VRt5tTfIMQoqmyjKKcZV/6WJ9VKLTRmh1DErIe4YWdZAFXmNu23td+RT1+Ya8LQlQClp4C0J6G5gTTOJn1h8BlhcEeDIm+yKHc6rIcSQ2UJLahgllyJG0MILIiSYwiselFIc4ESLRX8JF8TgkJMfxeLM5SR57NF9gyfM4x0TEuNWBnFhSfeS07ZZFHk+VqWke6c+oBLcJjto1HgdmLNUUjUt6sZXOwPWbmCRdKtMzmsTk26Bss0o1H9428UjZqSxaz2D3DrKtCvqlvSqjMGuiTBmYpScbSMcmAQzPMQrTOLe5DBtCljqvsY6VngmfV2j5SQxq4j1IW3inFMW6H/mGnYJ6nfPxQ3Kekid+MtT/oZ/fUxtKN2eioEPsXmoNLeSmuEAAAAASUVORK5CYII=');
  background-size: cover;
}

.tui-pagination .tui-ico-next {
  width: 12px;
  height: 10px;
  background-position: 0px 0px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAXFJREFUOE+1k7suRFEUhr//nBmRoDQ0LrVp6LyIS3LIJBLRSOjojJJQkCgIBUYiOh4DoaHQ8QAzU2HC2Ev24YwhDI1d7r3Wv//LWuIPxwz5Mgn7Wh4/NDq+OWm0I0IN81Jf3xAgabY9MjRT1TAl2yStKZ4TEMX0FpHyOH9peQIWMP9rUmwFJkysyjGocW7qQX5k8Il6gRETh0BFjhGNc+LlMISTHdGKo4MO7ngkpEgXjrJyFG2XbuCeNDlzrNZow5zGWI6NdQdcAVlV6SFFu8G5wVoYMesKXCL6gSeMJhTL9FnIxFYYMeUBXjACiV6MjMGpiY0wYtoV3sABhwjeQ/Su+Z4UcPo7gMhidQD+f4ujTCHOPMA10CeLtXdayJnBehgx4/a5IGCgJsEz8RKEDLbDiEnZDm20kCHgllZSlOmmSqlmYpoHHDkTK3UmzitiKTbxpyn8NkajIjGqiOOPGP9rkOKpfN+DhqP8r8uUgDda51d52Mvn3GxZRAAAAABJRU5ErkJggg==');

  background-size: cover;
}

.tui-pagination .tui-ico-last {
  width: 12px;
  height: 10px;
  background-position: 0px 0px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABTSURBVHgBzZLBDQAQDEU/ExjBKjawkRGMYCQjMIpKenCTaNCXvJA0/Ye2gHY8e0whmyTEkVV3iFn+s5A2IZHsZOAXFo8QzeFf8yRDuD4P4SnfZwAv1RHktuegbwAAAABJRU5ErkJggg==');
  background-size: cover;
}

.tui-pagination .tui-ico-ellip {
  width: 10px;
  height: 2px;
  margin-top: 16px;
  vertical-align: top;
  background-position: 0px -24px;
}

.tui-pagination .tui-is-disabled:hover {
  background: #ff6b08;
  cursor: pointer;
  color: white;
}

.tui-pagination .tui-is-disabled .tui-ico-prev {
  background-position: 0px -12px;
}

.tui-pagination .tui-is-disabled .tui-ico-first {
  background-position: -13px 0px;
}

.tui-pagination .tui-is-disabled .tui-ico-next {
  background-position: 0px -24px;
}

.tui-pagination .tui-is-disabled .tui-ico-last {
  background-position: -13px -12px;
}

.tui-page-inputs {
  display: inline-block;
  vertical-align: top;
}

.tui-page-inputs .tui-page-input {
  display: inline-block;
  width: 10px;
  height: 12px;
  padding: 8px 0 6px;
  font-size: 12px;
  text-align: center;
  color: black;
  border: 0;
  outline: none;
}

.tui-page-inputs .tui-page-current {
  color: #ff6b08;
}

.tui-page-separator {
  display: inline-block;
  font-size: 12px;
  height: 12px;
  padding: 8px 0 6px;
  vertical-align: top;
}
