.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  transition: opacity 250ms $timer-function;
}
.overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-footer {
  display: flex;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.modal-footer .modal_content {
  background-color: #fcf7edd3;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid rgb(226, 121, 34);
  border-radius: 20px;
  width: 50%;
  height: 80%;
  z-index: 99999;
  position: relative;
}

.modal-footer .modal_content .close_modal_window {
  color: rgba(44, 6, 6, 0.575);
  float: right;
  font-size: 30px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #fcf7ed00;

  cursor: pointer;
}
.modal-footer .modal_content .close_modal_window:hover {
  color: rgb(255, 124, 30);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
}

.review-section {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  &_name-color {
    display: flex;
    color: #ff6b08;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
    padding-bottom: 10px;
    @media screen and (max-width: 772px) {
      font-weight: 500;
      font-size: 18px;
    }
  }

  &_description-part {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
    color: #68625d;
    display: flex;
    padding-bottom: 15px;
  }
  &_name-from {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.33;
    text-transform: uppercase;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-top: 15px;
    color: #180d06;
    @media screen and (max-width: 772px) {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.1;
    }
  }
  &_image {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 0;
  }
  &_work {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #7a7167cc;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    padding-bottom: 10px;
  }
}
.title-modalfooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #312a288e;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.33;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.title-modalteam {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #362a26b9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.33;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin-left: auto;
}
.title-modalteam:hover {
  color: rgba(255, 126, 20, 0.76);
  cursor: pointer;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
}

.review-section_card {
  background-color: rgba(110, 97, 45, 0.295);
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
}
.team-social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;

  &_icon {
    border-radius: 4px;
    margin-right: 2px;
    fill: rgba(104, 70, 59, 0.651);
  }
  &_icon:hover {
    fill: #ff7c25;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
  }
}
